nav {
    height: 70px;
    display: flex;
    background-color: var(--accent);
    align-items: center;
}
button {
    color: var(--primary);
    height: 50px;
    padding: 10px;
    font-size: 1.5em;
    background: none;
    background-image: linear-gradient(var(--primary), var(--primary));
    background-size: 0% 100%;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    margin-left: 1em;
    padding: 0px 4px 0px 4px;
    border: 0px;
    cursor: pointer;
}
button:hover,
button:focus {
    color: var(--accent);
    background-size: 100% 100%;
    .mat-icon {
        color: var(--accent);
    }
}
.lastButton {
    margin-left: auto;
    margin-right: 1em;
}