.events {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    column-gap: 1em;
    row-gap: 1em;
}
.event {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    color: var(--primaryContrast);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.event:focus,
.event:hover,
.event:focus-within {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}
.info {
    padding: 1em;
    margin: 1em;
}
.info.tbcEvent {
    color: var(--warn);
}
form {
    padding: 0.5em;
    background-color: var(--primary);
    color: var(--primaryContrast);
    margin-bottom: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.add {
    width: fit-content;
    border-radius: 0px;
    .mat-icon {
        text-decoration: none;
        background-image: linear-gradient(var(--primary), var(--primary));
        background-size: 0% 2em;
        background-position-y: 100%;
        background-position-x: 0%;
        background-repeat: no-repeat;
        transition: background-size 0.2s ease-in-out;
        padding: 4px;
    }
}
.add:hover,
.add:focus {
    .mat-icon {
        color: var(--accent);
        background-size: 100% 100%;
    }
}
.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filter {
    width: 90%;
}
.removeFilter {
    border: 0px;
    background-image: linear-gradient(var(--accent), var(--accent));
    background-size: 0% 2em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    cursor: pointer;
    margin-left: auto;
    background-color: var(--primary);
}
.removeFilter:hover,
.removeFilter:focus {
    background-size: 100% 100%;
    .mat-icon {
        color: var(--primary);
    }
}

.buttons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    button {
        width: 50%;
        text-align: center;
        padding: 0.5em;
        background-color: var(--primary);
        border: 0px;
    }
    button:hover,
    button:focus {
        cursor: pointer;
        background-color: var(--accent);
        transition: background-color 0.2s ease-in-out;
        .mat-icon {
            color: var(--primary);
        }
    }
    .lastButton {
        border-left: 2px solid var(--primaryContrast);
    }
}
